#root {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

nav{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing-nav{
gap: 1000px;
}

nav h4{
  font-size: 24px;
  color: #d76700;
}

h1{
  font-size: 96px;
  font-weight: 600;
  color: #d76700;
  
}

section{
  width: 100%;
  padding: 60px 0;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#ver-section{
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 68px;
}

h2{
font-size: 48px;
font-weight: 600;

}

#input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

input{
  width: 640px;
  height: 48px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
  text-align: center;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 -1px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

 input::placeholder {
  color: #888888;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

button{
  width: 464px;
  height: 48px;
  background: #d76700;
  border-radius: 12px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
}

#short-button{
  width: 203px;
}

#verswitch{
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  font-size: 20px;
  cursor: pointer;
}

#errorMessage{
  width: 640px;
  padding: 10px;
  height: 48px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
  text-align: center;
  border: none;
  color: black;
  background-color: #d20000;
}

#successMessage{
  width: 640px;
  padding: 10px;
  height: 48px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
  text-align: center;
  border: none;
  color: black;
  background-color: #07B618;
}